<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions required for Google Maps and Internet access. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DhakaParkDriver"
        tools:targetApi="31">
        <activity
            android:name=".ParkingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DriverDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".DriverProfileSetupActivity"
            android:exported="false" /> <!-- This meta-data tag holds the secured Google Maps API key. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <!--
         SplashActivity is now the LAUNCHER activity.
         This is the first screen the user sees.
         android:exported="true" is required for launcher activities.
        -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
         RegisterActivity is now a regular activity.
         The intent-filter has been removed.
         android:exported can be set to "false" as it's only launched from within our app.
        -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- LoginActivity is also a regular activity. -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- MapActivity is our main content screen. -->
        <activity
            android:name=".MapActivity"
            android:exported="false" />
    </application>

</manifest>